In [1]:
import numpy as np
import pandas as pd
import requests

In [41]:
sani = pd.read_csv('Data/311_Sanitation_2017.csv')
vacant = pd.read_csv('Data/311_Vacant_and_Abandoned_Buildings_2017.csv')
comm = pd.read_csv('Data/CommAreas.csv')

In [42]:
sani_lat = sani.Latitude.tolist()
sani_long = sani.Longitude.tolist()
sani_FIPS = []

In [58]:
for i in range(len(sani_lat)):
    lat = sani_lat[i]
    long = sani_long[i]
    url = 'https://www.broadbandmap.gov/broadbandmap/census/block?latitude={}&longitude={}&format=json'.format(lat, long)
    r = requests.get(url)
    rv = r.json()
    sani_FIPS.append(rv['Results']['block'][0]['FIPS'])

In [45]:
vacant_lat = vacant.LATITUDE.tolist()
vacant_long = vacant.LONGITUDE.tolist()
vacant_FIPS = []

In [46]:
for i in range(len(vacant_lat)):
    lat = vacant_lat[i]
    long = vacant_long[i]
    url = 'https://www.broadbandmap.gov/broadbandmap/census/block?latitude={}&longitude={}&format=json'.format(lat, long)
    r = requests.get(url)
    try:
        rv = r.json()
    except: 
        rv = 'null'
    if rv == 'null':
        vacant_FIPS.append(rv)
    else:
        vacant_FIPS.append(rv['Results']['block'][0]['FIPS'])

In [50]:
vacant['FIPS']= vacant_FIPS

In [53]:
vacant.to_csv('vacant')

In [59]:
sani['FIPS']=sani_FIPS

In [60]:
sani.to_csv('sani.csv')

In [23]:
sani_fips = pd.read_csv('Data/sani_2017_fips.csv')
vacant_fips = pd.read_csv('Data/vacant_2017_fips.csv')

In [24]:
all_fips = sani_fips.FIPS.append(vacant_fips.FIPS).apply(str)

In [41]:
fips = all_fips.to_frame()
fips['State'] = fips.FIPS.apply(lambda x: x[:2])
fips['County'] = fips.FIPS.apply(lambda x: x[2:5])
fips['Track'] = fips.FIPS.apply(lambda x: x[5:11])

In [42]:
fips_unique_track = fips.drop('FIPS',1)

In [43]:
fips_unique_track.drop_duplicates('Track', inplace=True)

In [48]:
fips_unique_track = fips_unique_track.reset_index(drop=True)

In [50]:
all_track = fips_unique_track.Track.tolist()

In [57]:
income = []
familysize = []
population = []
black = []

In [58]:
for i in range(len(all_track)):
    url = 'http://api.census.gov/data/2015/acs5/profile?get=DP03_0063E,DP02_0016E,DP05_0028E,DP05_0033E&for=tract:{}&in=state:17+county:031&key=d133f1c21f4fb823971ad5b8d7435f0997aa8986'.format(all_track[i])
    r = requests.get(url)
    rv = r.json()
    income.append(rv[1][0])
    familysize.append(rv[1][1])
    population.append(rv[1][2])
    black.append(rv[1][3])

In [25]:
sani_fips.FIPS = sani_fips.FIPS.apply(str)
sani_fips['Track'] = sani_fips.FIPS.apply(lambda x: x[5:11]).astype("int")
vacant_fips.FIPS = vacant_fips.FIPS.apply(str)
vacant_fips['Track'] = vacant_fips.FIPS.apply(lambda x: x[5:11]).astype("int")

In [ ]:
fips_unique_track['Mean Income'] = income
fips_unique_track['Family Size'] = familysize
fips_unique_track['population'] = population
fips_unique_track['black'] = black
fips_unique_track.to_csv('track_demographic.csv')

In [26]:
track_data = pd.read_csv('Data/track_demographic.csv')

In [21]:
sani_fips = sani_fips.join(track_data, on='Track', rsuffix='0')

In [28]:
sani_demo = pd.merge(sani_fips, track_data, on='Track')

,Unnamed: 0_x,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,What is the Nature of this Code Violation?,Street Address,ZIP Code,X Coordinate,...,Location,FIPS,Track,Unnamed: 0_y,State,County,Mean Income,Family Size,Population,Black
0,0,1/2/17,Completed,1/3/17,17-00012728,Sanitation Code Violation,Garbage in alley,6156 S KARLOV AVE,60629.0,1150093.172,...,"(41.78123782345127, -87.72527525417806)",170316502002004,650200,0,17,31,58911,4.21,7653,98
1,1268,2/2/17,Completed,2/7/17,17-00613954,Sanitation Code Violation,Other,6205 S KOLIN AVE,60629.0,1148437.466,...,"(41.78028698735843, -87.73135471074477)",170316502003012,650200,0,17,31,58911,4.21,7653,98
2,1373,2/6/17,Completed,2/7/17,17-00683272,Sanitation Code Violation,Overflowing carts,6151 S KEELER AVE,60629.0,1149425.843,...,"(41.78130333820584, -87.7277213688664)",170316502002008,650200,0,17,31,58911,4.21,7653,98
3,1374,2/6/17,Completed,2/7/17,17-00683477,Sanitation Code Violation,Overflowing carts,5952 S PULASKI RD,60629.0,1150723.875,...,"(41.78475601976906, -87.72292944945652)",170316502001005,650200,0,17,31,58911,4.21,7653,98
4,1375,2/6/17,Completed,2/7/17,17-00683576,Sanitation Code Violation,Overflowing carts,5956 S PULASKI RD,60629.0,1150724.375,...,"(41.78470140133405, -87.72292813419426)",170316502001005,650200,0,17,31,58911,4.21,7653,98
5,1426,2/7/17,Completed,2/7/17,17-00684659,Sanitation Code Violation,Overflowing carts,6128 S KOMENSKY AVE,60629.0,1150420.567,...,"(41.781766462792376, -87.72406987512217)",170316502002002,650200,0,17,31,58911,4.21,7653,98
6,1427,2/7/17,Completed,2/7/17,17-00684661,Sanitation Code Violation,Overflowing carts,6110 S KOMENSKY AVE,60629.0,1150417.167,...,"(41.7820971998701, -87.72407921030418)",170316502002002,650200,0,17,31,58911,4.21,7653,98
7,2222,2/22/17,Completed,2/23/17,17-01015671,Sanitation Code Violation,Garbage in alley,6300 S PULASKI RD,60629.0,1150785.840,...,"(41.77865823677643, -87.72276009557498)",170316502002020,650200,0,17,31,58911,4.21,7653,98
8,3995,3/31/17,Open,NaN,17-01837889,Sanitation Code Violation,Dog feces in yard,6135 S KOLMAR AVE,60629.0,1147091.262,...,"(41.78150409271652, -87.73627913639721)",170316502006004,650200,0,17,31,58911,4.21,7653,98
9,1,1/2/17,Completed,1/3/17,17-00015443,Sanitation Code Violation,Overflowing carts,2433 N ASHLAND AVE,60614.0,1165256.823,...,"(41.926120388059594, -87.66817909285737)",170310706002016,70600,1,17,31,172638,3.08,3218,42
10,139,1/4/17,Completed,1/5/17,17-00070787,Sanitation Code Violation,Dumpster not being emptied,2506 N GREENVIEW AVE,60614.0,1165900.088,...,"(41.92717407108804, -87.66580428699989)",170310706002012,70600,1,17,31,172638,3.08,3218,42
11,442,1/13/17,Completed,1/17/17,17-00227401,Sanitation Code Violation,Construction Site Cleanliness/Fence,2506 N GREENVIEW AVE,60614.0,1165900.088,...,"(41.92717407108804, -87.66580428699989)",170310706002012,70600,1,17,31,172638,3.08,3218,42
12,864,1/24/17,Completed,1/24/17,17-00426659,Sanitation Code Violation,Construction Site Cleanliness/Fence,2650 N BOSWORTH AVE,60614.0,1165553.420,...,"(41.928795093307926, -87.66706134929801)",170310706001012,70600,1,17,31,172638,3.08,3218,42
13,1707,2/13/17,Completed,2/14/17,17-00803552,Sanitation Code Violation,Construction Site Cleanliness/Fence,2652 N BOSWORTH AVE,60614.0,1165540.823,...,"(41.929792358711346, -87.66709726616043)",170310706001011,70600,1,17,31,172638,3.08,3218,42
14,1889,2/15/17,Completed,2/21/17,17-00846093,Sanitation Code Violation,Other,1436 W ALTGELD ST,60614.0,1166199.190,...,"(41.927013041756474, -87.66470683032806)",170310706002024,70600,1,17,31,172638,3.08,3218,42
15,2583,3/1/17,Completed,3/2/17,17-01160397,Sanitation Code Violation,Standing water,2650 N ASHLAND AVE,60614.0,1165224.165,...,"(41.92877620928543, -87.6682715203794)",170310706001004,70600,1,17,31,172638,3.08,3218,42
16,3160,3/14/17,Completed,3/15/17,17-01403973,Sanitation Code Violation,Dumpster not being emptied,1500 W ALTGELD ST,60614.0,1165902.288,...,"(41.9269981300571, -87.66579803666876)",170310706001013,70600,1,17,31,172638,3.08,3218,42
17,2,1/2/17,Completed,1/3/17,17-00017008,Sanitation Code Violation,Dumpster not being emptied,4400 S DREXEL BLVD,60653.0,1182932.252,...,"(41.81501736681795, -87.60448996218275)",170313903002003,390300,2,17,31,33660,3.12,2708,2423
18,53,1/3/17,Completed - Dup,1/3/17,17-00050708,Sanitation Code Violation,Dumpster not being emptied,4400 S DREXEL BLVD,60653.0,1182932.252,...,"(41.81501736681795, -87.60448996218275)",170313903002003,390300,2,17,31,33660,3.12,2708,2423
19,136,1/4/17,Completed,1/5/17,17-00070596,Sanitation Code Violation,Dumpster not being emptied,4424 S DREXEL BLVD,60653.0,1183065.974,...,"(41.81459734650083, -87.60400418682198)",170313903002009,390300,2,17,31,33660,3.12,2708,2423
20,3,1/2/17,Completed,1/3/17,17-00019975,Sanitation Code Violation,Other,445 N RIDGEWAY AVE,60624.0,1151308.790,...,"(41.88898421978483, -87.71979005105871)",170312315005024,231500,3,17,31,34408,4.47,7027,6417
21,698,1/20/17,Completed,1/24/17,17-00359164,Sanitation Code Violation,Other,734 N CENTRAL PARK AVE,60624.0,1152250.854,...,"(41.89425618235024, -87.71627948463944)",170312315004002,231500,3,17,31,34408,4.47,7027,6417
22,804,1/23/17,Completed - Dup,1/24/17,17-00409518,Sanitation Code Violation,NaN,734 N CENTRAL PARK AVE,60624.0,1152250.854,...,"(41.89425618235024, -87.71627948463944)",170312315004002,231500,3,17,31,34408,4.47,7027,6417
23,1001,1/26/17,Completed,1/31/17,17-00475494,Sanitation Code Violation,Overflowing carts,784 N CENTRAL PARK AVE,60624.0,1152241.176,...,"(41.89518284752573, -87.7163061107284)",170312315004002,231500,3,17,31,34408,4.47,7027,6417
24,1234,2/1/17,Completed,2/6/17,17-00593112,Sanitation Code Violation,Garbage in alley,521 N ST LOUIS AVE,60624.0,1152954.736,...,"(41.89056682689104, -87.71372984881005)",170312315002006,231500,3,17,31,34408,4.47,7027,6417
25,1528,2/9/17,Completed,2/10/17,17-00724563,Sanitation Code Violation,Garbage in alley,715 N HARDING AVE,60624.0,1149927.452,...,"(41.89382144887575, -87.72481724828772)",170312315006005,231500,3,17,31,34408,4.47,7027,6417
26,1723,2/13/17,Completed,2/16/17,17-00806239,Sanitation Code Violation,Garbage in alley,616 N CENTRAL PARK AVE,60624.0,1152273.878,...,"(41.89208816581333, -87.71621578969294)",170312315004008,231500,3,17,31,34408,4.47,7027,6417
27,1724,2/13/17,Completed,2/16/17,17-00806243,Sanitation Code Violation,Garbage in alley,618 N CENTRAL PARK AVE,60624.0,1152273.478,...,"(41.89212521906553, -87.7162169021398)",170312315004008,231500,3,17,31,34408,4.47,7027,6417
28,1781,2/14/17,Completed,2/15/17,17-00815014,Sanitation Code Violation,Garbage in alley,3925 W CHICAGO AVE,60651.0,1149991.894,...,"(41.8953804869149, -87.72456575503566)",170312315006004,231500,3,17,31,34408,4.47,7027,6417
29,1792,2/14/17,Completed,2/16/17,17-00816364,Sanitation Code Violation,Other,3716 W CHICAGO AVE,60651.0,1151573.819,...,"(41.89543692162704, -87.71875485185163)",170312315004004,231500,3,17,31,34408,4.47,7027,6417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4125,3565,3/23/17,Completed,3/23/17,17-01597361,Sanitation Code Violation,Other,1819 N HARLEM AVE,60707.0,1127808.271,...,"(41.912868515465675, -87.80590169635597)",170318109003010,810900,700,17,31,58128,2.97,6210,133
4126,3607,3/23/17,Open,NaN,17-01602754,Sanitation Code Violation,Overflowing carts,5610 S SEELEY AVE,60636.0,1163650.966,...,"(41.79189607213529, -87.67545737123672)",170316705001022,670500,701,17,31,32203,4.10,1072,886
4127,3986,3/31/17,Open,NaN,17-01829722,Sanitation Code Violation,Construction Site Cleanliness/Fence,6141 S DAMEN AVE,60636.0,1164080.842,...,"(41.78222882210746, -87.67398005684922)",170316705001037,670500,701,17,31,32203,4.10,1072,886
4128,3997,3/31/17,Open,NaN,17-01838983,Sanitation Code Violation,Overflowing carts,5610 S SEELEY AVE,60636.0,1163650.966,...,"(41.79189607213529, -87.67545737123672)",170316705001022,670500,701,17,31,32203,4.10,1072,886
4129,3623,3/24/17,Completed,3/27/17,17-01623746,Sanitation Code Violation,Other,5234 S HONORE ST,60609.0,1164903.175,...,"(41.79882668991231, -87.67079408070472)",170316117003007,611700,702,17,31,33435,3.54,1267,575
4130,3774,3/27/17,Open,NaN,17-01713285,Sanitation Code Violation,Other,5234 S HONORE ST,60609.0,1164903.175,...,"(41.79882668991231, -87.67079408070472)",170316117003007,611700,702,17,31,33435,3.54,1267,575
4131,3656,3/24/17,Open,NaN,17-01623678,Sanitation Code Violation,Other,1211 N LAKE SHORE DR,60610.0,1177062.547,...,"(41.9043470250197, -87.62503707396111)",170310801005014,80100,703,17,31,185124,2.57,7078,277
4132,3715,3/27/17,Completed,3/27/17,17-01715298,Sanitation Code Violation,Dumpster not being emptied,1214 N ASTOR ST,60610.0,1176539.331,...,"(41.90438267284987, -87.62695870293241)",170310801002006,80100,703,17,31,185124,2.57,7078,277
4133,3927,3/30/17,Completed,3/31/17,17-01798065,Sanitation Code Violation,Other,1300 N RITCHIE CT,60610.0,1176642.260,...,"(41.90584076582847, -87.62656451312797)",170310801002001,80100,703,17,31,185124,2.57,7078,277
4134,3748,3/27/17,Completed,3/29/17,17-01715812,Sanitation Code Violation,Dumpster not being emptied,4650 N SHERIDAN RD,60640.0,1168782.502,...,"(41.96661487560745, -87.65479390807604)",170310315011001,31501,704,17,31,48502,2.70,3653,1231
4135,3776,3/27/17,Open,NaN,17-01713550,Sanitation Code Violation,Other,3552 S DEARBORN ST,60609.0,1176461.735,...,"(41.82965606042602, -87.62806556081037)",170313515002003,351500,705,17,31,53569,3.09,447,214
4136,3831,3/28/17,Open,NaN,17-01740993,Sanitation Code Violation,Dumpster not being emptied,13140 S ST LAWRENCE AVE,60827.0,1182581.934,...,"(41.656563941164265, -87.60756120638099)",170315401011001,540101,706,17,31,21767,3.82,3779,3602
4137,3834,3/28/17,Open,NaN,17-01743507,Sanitation Code Violation,Garbage in yard,2141 W 53RD PL,60609.0,1162802.820,...,"(41.79661973833531, -87.67851948873803)",170316116002002,611600,707,17,31,42363,4.47,1604,1118
4138,3877,3/29/17,Completed,3/31/17,17-01777082,Sanitation Code Violation,Other,4923 W ST PAUL AVE,60639.0,1143100.611,...,"(41.91232412670875, -87.74972295529821)",170312502001014,250200,708,17,31,50598,4.21,2860,1625
4139,3878,3/29/17,Completed,3/31/17,17-01777083,Sanitation Code Violation,Other,4925 W ST PAUL AVE,60639.0,1143089.911,...,"(41.91232350325893, -87.74976227217235)",170312502001014,250200,708,17,31,50598,4.21,2860,1625
4140,4145,4/3/17,Completed,4/3/17,17-01911892,Sanitation Code Violation,Garbage in alley,1738 N LECLAIRE AVE,60639.0,1142276.106,...,"(41.91239038565317, -87.75275154104727)",170312502001010,250200,708,17,31,50598,4.21,2860,1625
4141,3905,3/30/17,Completed,3/30/17,17-01794926,Sanitation Code Violation,Dumpster not being emptied,3520 N LAKE SHORE DR,60657.0,1172123.247,...,"(41.947357668443516, -87.642717758238)",170310609004005,60900,709,17,31,72292,2.80,6849,278
4142,3944,3/30/17,Open,NaN,17-01798485,Sanitation Code Violation,Other,521 W BARRY AVE,60657.0,1172238.130,...,"(41.93768907246504, -87.64239984929907)",170310632006000,63200,710,17,31,98495,2.62,6942,288
4143,3957,3/30/17,Open,NaN,17-01813337,Sanitation Code Violation,Dumpster not being emptied,6213 S DORCHESTER AVE,60637.0,1186608.264,...,"(41.7820054658678, -87.5913859000141)",170314202001018,420200,711,17,31,48437,3.79,1771,1337
4144,3974,3/31/17,Open,NaN,17-01823698,Sanitation Code Violation,Garbage in yard,2711 W 18TH ST,60608.0,1158525.032,...,"(41.857420315065866, -87.69360249327337)",170312916001012,291600,712,17,31,47115,3.07,859,153
4145,3998,3/31/17,Open,NaN,17-01839504,Sanitation Code Violation,Dog feces in yard,1749 N MOZART ST,60647.0,1157142.130,...,"(41.91380044721745, -87.69812059577394)",170312408001000,240800,713,17,31,51472,3.98,1763,161
4146,4063,4/2/17,Open,NaN,17-01877670,Sanitation Code Violation,Other,1646 N MOZART ST,60647.0,1157170.212,...,"(41.9112044673529, -87.6980431674865)",170312408001004,240800,713,17,31,51472,3.98,1763,161
4147,4016,4/1/17,Completed,4/3/17,17-01855062,Sanitation Code Violation,Garbage in yard,6413 N GLENWOOD AVE,60626.0,1165777.140,...,"(41.99837591893994, -87.66551296960988)",170310105031014,10503,714,17,31,44922,2.96,2080,198
4148,4033,4/2/17,Completed,4/3/17,17-01872257,Sanitation Code Violation,Dumpster not being emptied,1053 W ROSEMONT AVE,60660.0,1167991.744,...,"(41.99640439140888, -87.65738656476837)",170310301041004,30104,715,17,31,43349,2.28,3487,433
4149,4119,4/3/17,Open,NaN,17-01915502,Sanitation Code Violation,Dog feces in yard,6301 N WINTHROP AVE,60660.0,1167713.025,...,"(41.99641123559041, -87.65841183578728)",170310301041006,30104,715,17,31,43349,2.28,3487,433
4150,4040,4/2/17,Completed,4/3/17,17-01886882,Sanitation Code Violation,Garbage in yard,4110 N NEENAH AVE,60634.0,1131780.035,...,"(41.954608753340885, -87.79095600152439)",170311701001009,170100,716,17,31,54649,2.56,1865,98
4151,4073,4/2/17,Open,NaN,17-01883746,Sanitation Code Violation,Garbage in yard,13214 S EXCHANGE AVE,60633.0,1197771.689,...,"(41.65525827523354, -87.55199227866831)",170315502002127,550200,717,17,31,70437,3.65,2772,0
4152,4077,4/2/17,Open,NaN,17-01886352,Sanitation Code Violation,Overflowing carts,5753 N CANFIELD AVE,60631.0,1122911.621,...,"(41.98455808632756, -87.8233207738795)",170318104003055,810400,718,17,31,102392,3.11,5396,1
4153,4137,4/3/17,Open,NaN,17-01922692,Sanitation Code Violation,Dumpster not being emptied,611 W BRIAR PL,60657.0,1171624.445,...,"(41.93914299561049, -87.64463973950154)",170310631001000,63100,719,17,31,116814,2.67,2454,18
4154,4138,4/3/17,Open,NaN,17-01922710,Sanitation Code Violation,Dumpster not being emptied,613 W BRIAR PL,60657.0,1171611.045,...,"(41.93914246779306, -87.64468899653863)",170310631001000,63100,719,17,31,116814,2.67,2454,18

In [33]:
vacant_demo = pd.merge(vacant_fips, track_data, on='Track')

In [38]:
sani_top = sani_demo['Track'].value_counts().to_frame().reset_index()
sani_top.columns = ['Track','Count']

In [52]:
sani_top_demo = pd.merge(sani_top, track_data, on='Track')
sani_top_demo[:10]

,Track,Count,Unnamed: 0,State,County,Mean Income,Family Size,Population,Black
0,160602,66,148,17,31,62135,3.47,3970,83
1,570200,34,70,17,31,62262,4.02,1845,13
2,570300,33,76,17,31,53746,4.29,5966,11
3,260800,30,284,17,31,49602,3.95,2453,2432
4,71100,29,55,17,31,147379,2.87,2861,112
5,20702,29,524,17,31,61255,4.13,7833,312
6,841100,28,78,17,31,39517,3.28,7673,345
7,681200,25,40,17,31,30088,3.80,2437,2241
8,720700,25,129,17,31,84496,3.29,3254,1947
9,838700,25,130,17,31,25322,4.15,4736,4396

In [50]:
vacant_top = vacant_demo['Track'].value_counts().to_frame().reset_index()
vacant_top.columns = ['Track','Count']

In [53]:
vacant_top_demo = pd.merge(vacant_top, track_data, on='Track')
vacant_top_demo[:10]

,Track,Count,Unnamed: 0,State,County,Mean Income,Family Size,Population,Black
0,491000,21,302,17,31,36487,4.55,4785,4743
1,510300,17,366,17,31,43183,3.80,5988,5807
2,420700,14,104,17,31,35488,3.97,3505,3360
3,530200,13,328,17,31,40212,4.51,4675,4644
4,681400,13,167,17,31,38358,3.87,2624,2624
5,490902,12,576,17,31,48829,3.50,5146,5045
6,671500,11,350,17,31,30586,3.91,3012,2672
7,470100,11,447,17,31,38552,4.42,2601,2601
8,460100,11,515,17,31,53531,3.86,3751,2903
9,231200,11,228,17,31,35507,3.86,5369,3096

In [54]:
sani_demo['Creation Date'] = pd.to_datetime(sani_demo['Creation Date'],infer_datetime_format=True)
sani_demo['Month'] = pd.DatetimeIndex(sani_demo['Creation Date']).month

In [57]:
vacant_demo['DATE SERVICE REQUEST WAS RECEIVED'] = pd.to_datetime(vacant_demo['DATE SERVICE REQUEST WAS RECEIVED'],infer_datetime_format=True)
vacant_demo['Month'] = pd.DatetimeIndex(vacant_demo['DATE SERVICE REQUEST WAS RECEIVED']).month

In [58]:
sani_by_month_by_track = pd.pivot_table(sani_demo, values='Service Request Number', index=['Month'], columns=['Track'], aggfunc=lambda x: len(x.unique()))

In [59]:
sani_by_month_by_track

Track,10100,10201,10202,10300,10501,10502,10503,10600,10701,10702,...,843000,843100,843200,843300,843400,843500,843600,843700,843800,843900
Month,,,,,,,,,,,,,,,,,,,,,
1,1.0,NaN,1.0,NaN,3.0,1.0,NaN,1.0,6.0,2.0,...,1.0,NaN,NaN,1.0,NaN,1.0,NaN,3.0,NaN,2.0
2,4.0,3.0,NaN,1.0,1.0,NaN,NaN,2.0,1.0,1.0,...,NaN,1.0,2.0,NaN,NaN,3.0,1.0,1.0,4.0,2.0
3,1.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,1.0,NaN,NaN,1.0,3.0,1.0,NaN,2.0,2.0,3.0
4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN